@font-face {
   font-family: 'glancyr-glancyr-bold-700';
   font-display: swap;
   src: url('file:///C:/Users/User/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-08-21_190719/fonts/glancyr-glancyr-bold-700/font.ttf');
}
